.user-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: none;
    background: white;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
    border-radius: 4px;

    margin: 5px 10px 5px 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.user_info_div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.user-card__title {
    margin: 5px 5px 5px 10px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #707683;
}

.user-card__button__info {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    padding: 0px 10px 0px 10px;
    margin: 5px 5px 5px 20px;

    cursor: pointer;
    border: none;
    border-radius: 4px;
    background: #9f9f9f;
    color: #FFFFFF;
}

.user-card__button__bun {
    margin: 5px 20px 5px 20px;
    padding: 0px 10px 0px 10px;
    min-width: 140px;
    border-radius: 4px;
    border: none;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    background: #fb218b;
    cursor: pointer;
}

.user-card__button {
    margin: 5px 20px 5px 20px;
    padding: 0px 10px 0px 10px;
    min-width: 140px;
    border-radius: 4px;
    border: none;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    background: #648CFD;
    cursor: pointer;
}

.user-card__button:hover {
    background-color: #3D6BFFFF;
}

.user-card__button__info:hover {
    background-color: #969696;
}

.user-card__button__bun:hover {
    background-color: #e31d7d;
}

.user-card__button:focus {
    background-color: #3a63ea;
}

.user-card__button__info:focus {
    background-color: #9f9f9f;
}

.user-card__button__bun:focus {
    background-color: #d51c76;
}