.line {
    height: 50px;
    background: grey;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.line button {
    margin-right: 10px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 4px;
    padding: 0px 16px 0px 16px;
    cursor: pointer;

    background: #648CFD;
    border: none;

}

.homebtn {
    margin-left: 10px;
}

.line button:hover {
    background-color: rgb(61, 107, 255);
}